@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,body {
  background: linear-gradient(138deg, #071224 22.62%, #2B5A62 100%);
  scroll-behavior: smooth;

}

h1,h2,h3,h4,h4,li,span{
  font-family: var(--font-poppins);
}

.hireme{
  width: 12rem;
  padding: 1rem 0;
  color: white;
  border-radius: 0px 30px;
  background: linear-gradient(138deg, #FC2D80 0%, #021750 100%);
  transition: all .2s linear;
}

.hireme:hover{
  transform: translateY(-.7rem);
  transition: all .2s linear;
}

.filter ul li{
  position: relative;
}

.active{
  color: #9D845A ;
}

.filter ul li::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #9D845A;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.filter ul li.active::after {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}



